.text-style{
	font-style: italic;
	font-weight: bold;
}
.text-align{
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
}
.page-layout{
	width:900px;
	margin:0px auto;
	border-style: solid;
	border-left: none;
	border-right: none;
	padding: 50px;	
}
.pic-box{
	height: 270px;
	width: 250px;
	display:inline-block;
	margin-left:100px;
	background-color: grey;
	outline:black solid 1px;
	outline-offset: 10px;
}
.display{	
	display:inline-block;	
}
.aboutme-img{
	height: 250px;
	width: 225px;
	border-style: solid;
	border-color: black;
	text-align: center;
}
.a-layout{
	margin-top: 20px;
	text-align: center;
	color: black;
}
a{
	color: black;
	font-weight: bold;
}
.sans-serif{
	font-family: sans-serif;
}
.serif{
	font-family: serif;
}
.para-style{
	width:500px;
	height: 300px;
}
.line-spacing{
	line-height: 2.0;
}

